<head>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
  <div style="display: flex;justify-content: center;height: 80vh;">
    <form method="post" action="/results" class="ui form">
      <h3>Fund House:</h3>
      <input type="text" name="fund" required />
      <h3>Category:</h3>
      <input type="text" name="category" required />
      <h3>Scheme:</h3>
      <input type="text" name="scheme" required />
      <h3>Investment Amount:</h3>
      <input type="text" name="amount" required /><br />
      <h3>Expected Return:</h3>
      <input type="text" name="return" required /><br />
      <h3>Start Date:</h3>
      <input type="text" name="start" required />(dd/mm/yyyy)<br />
      <h3>End Date:</h3>
      <input type="text" name="end" required />(dd/mm/yyyy)<br /><br />
      <button
        class="ui button"
        type="submit"
        class="btn btn-primary"
        id="btnSignUp"
      >
        Go
      </button>
    </form>
  </div>
</body>
